html, body {
	height: 100%;
}
.header {
	background: #E7E8E9;
}
.navbar-header a {
	padding: 0;
}
.container {
	height: 100%;
	min-height: 625px;
	margin-bottom: -6em;
	padding-left: 0;
	padding-right: 0;
}
.login-wrap, .sign-in-wrap {
	margin: 5em 0 0;
}
.login-wrap h3, .sign-in-wrap h3 {
	padding: 1em 0em;
	margin: 0 -28px 0.5em;
	background: #5E98FF;
	-moz-border-top-left-radius: 15px;      /* Gecko browsers */
    -webkit-border-top-left-radius: 15px;   /* Webkit browsers */
    border-top-left-radius:15px;            /* W3C syntax */
    -moz-border-top-right-radius: 15px;      /* Gecko browsers */
    -webkit-border-top-right-radius: 15px;   /* Webkit browsers */
    border-top-right-radius:15px;            /* W3C syntax */
}

.login, .sign-in {
	border: solid #ccc 1px;
	padding-left: 2em;
	padding-right: 2em;
}
.setting, .login, .sign-in {
	border: solid #ccc 1px;
	background: #fff;
	-moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;            /* W3C syntax */
}
.login div, .sign-in div {
	margin-left: 0;
	margin-right: 0;
	float: none;
}
.vcode {
	width: 50%;
}
div.foot {
	padding-bottom: 12px;
	background: #ccc;
}
/*  sign in  */
.sign-in-container{
	max-width: 500px;
}
.sign-in {
	margin-left: 0;
}

/*  personal information  */
div.information-wrap {
	max-width: 800px;
	margin: 5em auto 0;
}
.personal-head {
	margin: 0;
	padding: 0;
}
.personal-head img{
	border: solid #ECECEC 1px;
	padding: 1em;
	background: #DFDFDF;
}
.setting-nav {
	margin: 0 -16px 1em;
	background: #ccc;
}
ul#myTab {
	margin:-1px -16px 1em;
	padding-left: 0px;
}
ul#myTab>li:first-child>a {
	-moz-border-radius: 15px 0px 0 0;      /* Gecko browsers */
    -webkit-border-radius: 15px 0px 0 0;   /* Webkit browsers */
    border-radius:15px 0px 0 0;            /* W3C syntax */
}
/* personal information ——> head */
.setting {
	padding-bottom: 1em;
}
div.preview-container {
	margin: 2em 2em 1em 1em;
}
div.preview-container img {
	width: 300px;
	height: 300px;
}
div#cutPreview {
    float: left;
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 1em;
    border: solid #ccc 5px;
}

div.cuted-photo {
	width: 100px;
	height: 100px;
	margin: 2em;
	background: #ccc;
}
div.form-group .holder {
	position: absolute;
	top: 7px;
	left: 28px;
	color: #9E9E9E;
	cursor: text;
	font-weight: normal;
}